@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* main {
  padding: 20px;
} */

/* -------------  First section ------------- */
#firstSection {
  height: 95vh;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 3rem;
}

#blueText {
  color: #2d9cdb;
  font-size: 12px;
  font-weight: 500;
}
#textTitle {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

#firstSection_top > div:last-child {
  height: 145px;
  text-align: center;
}

#firstSection_top > div:last-child > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

#firstSection_bottom > p:first-child {
  font-size: 24px;
  font-weight: 500;
}

#firstSection_bottom > p:nth-child(2) {
  font-size: 12px;
}

#firstSection_bottom_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#firstSection_bottom_form > label {
  font-size: 10px;
  font-weight: 500;
  color: #828282;
}
#firstSection_bottom_form > div {
  height: 50px;
  position: relative;
  width: 100%;
}

#firstSection_bottom_form > div > input {
  height: 100%;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 12px;
  background-color: #f2f2f2;
  padding: 0 20px;
}

#firstSection_bottom_form > div > button {
  border-radius: 12px;
  background: #2d9cdb;
  font-size: 14px;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  color: white;
  position: absolute;
  top: 4px;
  right: 4px;
}


/* --------- Segunda Sección ---------*/ 
#secondSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#cards-container{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  padding: 10px;
}

.card {
  width: 340px;
  height: 400px;
  padding: 34px;
  border-radius: 24px;
}
.card:hover {
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
}


#box-pencil {
  width: 67px;
  height: 67px;
  border-radius: 16px;
  background: #2D9CDB;
  margin-bottom: 35px;
}
#box-code {
  width: 67px;
  height: 67px;
  border-radius: 16px;
  background: #27AE60;
  margin-bottom: 35px;
}
#box-storage {
  width: 67px;
  height: 67px;
  border-radius: 16px;
  background: #EB5757;
  margin-bottom: 35px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}
#edit {
  font-size: 36px;
  color: white;
  padding: 15px;
}
#code {
  font-size: 36px;
  color: white;
  padding: 15px;
}
#storage {
  font-size: 36px;
  color: white;
  padding: 15px;
}
.card-title {
  padding-bottom: 24px;
}
.card > p {
  padding-bottom: 30px;
}
.card > a {
  width: 116px;
  height: 42px;
  background-color: #E0E0E0;
  color: #828282;
  text-decoration: none;
  font-size: 16px;
  padding: 9px;
  border-radius: 12px;
}
.card:hover > a {
  background-color: #2D9CDB;
  color: white;
}

@media screen and (min-width: 1024px){
  #firstSection {
    height: 90vh;
    align-items: center;
    gap: 1rem;
  }

  #firstSection_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #firstSection_top > div:first-child {
    width: 30%;
    position: relative;
    left: -100px;
  }
  #firstSection_top > div:last-child {
    width: 100%;
    align-self: 250px;
  }
  #firstSection_bottom {
    width: 30%;
    position: relative;
    left: -100px;
  }
  

  /*Segunda Seccion*/
  #secondSection {
    margin-top: 200px;
    padding: 5px;

  }

  #cards-container{
    gap:5px;
    padding: 10px;
  }
  
  .card {
    width: 320px;
    height: 400px;
  }
}
