/*-------- Mobile view ---------*/
nav {
    display:flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
    padding: 0px 10px;
}
/*-------- Last view which has the img element ---------*/
nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > div > ul {
    display: none;
}

@media screen and (min-width: 1024px) {

    nav {
        height: 10vh;
        padding: 0 20 px;
        display: flex;
        align-items: center;
    }

    nav > div > img {
        display: none;
    }

    nav > div > ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }
}